<ion-header>
    <ion-toolbar color="mango">
      <ion-title>Login</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content >
    <form>
      <ion-list>
       
        <ion-item>
          <ion-label position="stacked">Username</ion-label>
          <ion-input autocomplete="off"  type="text"></ion-input>
        </ion-item>
  
        <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input autocomplete="off" type="password"></ion-input>
        </ion-item>
      </ion-list>
  
      <ion-button expand="block" share="round" color="success">Login</ion-button>
  
    </form>
  
  
  
  
  
  </ion-content>